dev.js
staging.js
prod.js
environment.js
node_modules
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

app.config.js

.vscode
# macOS
.DS_Store
